/** Blueprint Overrides */
.container {
    width: 950px;
}
.span-21 {
    margin-right: 0;
}

/**  Body               */
body {
    background-color: #f9f9f9;
    min-width: 1200px;

}
a {
    color: #8a1614 !important;
}
a:hover {
    color: #b12623 !important;
    text-decoration: none;
}

/** Buttons             */
.button {
    font-weight: bold;
    padding: 8px 10px;
    display: inline;
    background: #777 url(../images/button_bg.png) repeat-x bottom;
    border: none;
    color: #fff !important;
    cursor: pointer;
    text-shadow: 1px 1px #666;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button:hover {
    color: #fff !important;
    background-position: 0 top;
}
.button.green { 
    background-color: #58aa00;
}
.button.blue {
    background-color: #2C6DA0;
}

/** Main                */
#outer_wrap {
    display: block;
    min-width: 1400px;
}
#wrap {
    width: 1400px;
    margin: 0 auto;
}
#main {
    padding-bottom: 45px;
    width: 950px;
    float: right;
}

/** Header              */
#header {
    height: 85px;
    background: #8A1614;
    background: -webkit-gradient(linear, left top, left bottom, from(#B12623), to(#680E0D));
    background: -moz-linear-gradient(top, #B12623 0%, #680E0D 100%);
    box-shadow: 0 3px 10px #777777;
    -moz-box-shadow: 0 3px 10px #777;
    -webkit-box-shadow: 0 3px 10px #777;
}
#navigation, #contact {
    margin-top: 25px;
}



/** Sidebar */
#sidebar {
/*  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D5D5D5; */
  margin-bottom: 1.5em;
  margin-left: 50px;
  margin-top: 250px;
  padding: 15px;
  width: 300px;
  float: right;
}

#sidebar .description {
    line-height: 21px;
    border-bottom: 1px solid #E6E6E6;
    margin: 3px 0 20px 0;
    padding: 0 0 20px 0;
    width: 260px;
    color: #666;
}

.sidebar ul.share-icons {
    padding: 0;
    margin: 5px 0 10px;
    overflow: hidden;
}
#sidebar ul.share-icons li {
    float: left;
    margin-right: 4px;
    list-style-type: none;
    width: 33px;
    height: 33px;
    display: block;
}
ul.share-icons a {
    border-bottom: none;
    width: 33px;
    height: 33px;
    display: block;
}
ul.share-icons li a.twitter {
    background: url("../images/social-icons.png") -1px 0 no-repeat;
}
ul.share-icons li a.google-plus {
    background: url("../images/social-icons.png") -124px 0 no-repeat;
}
ul.share-icons li a.github {
    background: url("../images/social-icons.png") -204px 0 no-repeat;
}

#sidebar .links {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 20px;
}

#sidebar .links a {
    color: #4c4c4c;
}

#sidebar .links a:hover {
    color: {Color:Accent};
}

.links .icon {
    width: 12px;
    height: 12px;
    background: #383838 url('http://static.tumblr.com/thpaaos/1xRm66voi/icons_sprite.png');
    margin: 0 8px 0 0;
    display: inline-block;
}

.links a:hover .icon {
    background-color: {Color:Accent};
}

/** Logo                */
#logo {
    float: left;
}
#contact, #navigation, #ribbon {
    float: right;
}
#ribbon {
    width: 150px;
}
#logo h1 {
    margin-left: 60px;
    margin-top: -20px;
    padding: 36px 0 0 0;
}

/** Navigation          */
#navigation {
    color: #f9f9f9;
}
#navigation ul {
    float: left;
    margin-left: 20px;
    padding: 0;
    line-height: 34px;
}
#navigation ul li {
    display: inline;
    margin-right: 10px;
}
#navigation ul li a {
    color: #f9f9f9 !important;
    text-decoration: none;
    padding: 9px 10px;
    font-size: 16px;
}
#navigation ul li a:hover {
    text-decoration: underline;
}

/** Sidebar */
                .sidebar ul.share-icons {
                    padding: 0;
                    margin: 5px 0 10px;
                    overflow: hidden;
                }
                #sidebar ul.share-icons li {
                    float: left;
                    margin-right: 4px;
                    list-style-type: none;
                    width: 33px;
                    height: 33px;
                    display: block;
                }
                ul.share-icons a {
                    border-bottom: none;
                    width: 33px;
                    height: 33px;
                    display: block;
                }
                ul.share-icons li a.twitter {
                    background: url("http://static.nikgraf.com/blog/social-icons.png") -1px 0 no-repeat;
                }
                ul.share-icons li a.dribbble {
                    background: url("http://static.nikgraf.com/blog/social-icons.png") -42px 0 no-repeat;
                }
                ul.share-icons li a.linkedin {
                    background: url("http://static.nikgraf.com/blog/social-icons.png") -83px 0 no-repeat;
                }
                ul.share-icons li a.google-plus {
                    background: url("http://static.nikgraf.com/blog/social-icons.png") -124px 0 no-repeat;
                }
                ul.share-icons li a.quora {
                    background: url("http://static.nikgraf.com/blog/social-icons.png") -165px 0 no-repeat;
                }
                ul.share-icons li a.github {
                    background: url("http://static.nikgraf.com/blog/social-icons.png") -204px 0 no-repeat;
                }

/** Pricing  */
.pricing_option {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.pricing_content {
    height: 130px;
}

.pricing_option a.button {
    width: 100px;
}


/** Contact             */
#contact ul {
    float: right;
    margin: 0;
    padding-top: 16px;
}
#contact ul li {
    list-style-type: none;
    padding-top: 5px;
}
#contact ul li a {
    color: #fff !important;
}
#contact ul li span {
    font-weight: bold;
    margin-right: 5px;
}

/** Banner              */
#banner     {
    /*background: #fff;
    background-image: url('../images/banner_bg.png');
    background-repeat: no-repeat;
    background-position: 480px -5px;
    */
    position: relative;
    background: #8A1614;
    background: -webkit-gradient(linear, left top, left bottom, from(#AD1716), to(#680E0D));
    background: -moz-linear-gradient(top, #AD1716 0%, #680E0D 100%);
    border: 1px solid #d5d5d5;
    height: 270px;
    color: white;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #ccc;
}

.separator {
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 18px;
    margin-bottom: 15px;
}
.separator span {
    line-height: 15px;
    padding: 0 10px;
    background: #F9F9F9; /* Color of the element below */
    display: inline-block;
    margin-top: 10px;
    color: #aaa;
}

#banner h1 {
    color: #f9f9f9;
}
#banner .bg_image {
    position: absolute;
    right: 0px;
    bottom: -5px;
}

/** Download Area */
.none a {
    text-decoration: none;
}


.mac {
    background: url(../images/mac.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    margin:5px;
    width:24px;
    height:24px;
}

.windows {
    background: url(../images/windows.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    margin:5px;
    width:24px;
    height:24px;
}
.linux {
    background: url(../images/linux.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    margin:5px;
    width:24px;
    height:24px;
}

.download {
    background: url(../images/download.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    margin:5px;
    width:24px;
    height:24px;
}


.downloaditem {
    border-bottom:1px solid #D5D5D5
}

#newfeatures ul li {
    padding-top: 10px;
}

.vcenter {
    padding-top: 7px;
}



/** Content             */
#content {
    background: #fff;
    border: 1px solid #d5d5d5;
    margin-bottom: 1.5em;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #ccc;
}

/** Main-Content        */
#main-content h3 {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #d5d5d5;
}


/** Footer              */
#footer {
    background-color: #fff;
    background-image: url('../images/footer_bg.png');
    background-repeat: repeat-x;
    border-top: 1px solid #d5d5d5;
    padding-top: 15px;
    height: 30px;
    margin-top: -47px;
}

/** Copyright           */
#copyright {
    text-align: left;
}

/** Sitemap             */
#sitemap {
    text-align: right;
}
#sitemap ul {
    color: #222;
    float: right;
    margin: 0;
    padding: 0;
}
#sitemap ul li {
    border-right: 1px solid #d5d5d5;
    display: inline;
    margin: 0;
    padding: 0 10px 0 10px;
}
#sitemap ul li.last_child {
    border: none;
    padding-right: 0;
}

/**Downloads Form       */
form{
    padding:40px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #ccc;
}
label{display:block;}
input[type=text]{
    width:200px;
    display:block;
    padding:3px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #ccc;
}
input[type=text]:focus{}
select{ 
    width:210px;
    display:block;
    padding:3px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #ccc;
    border:1px solid #bbb;
    margin-bottom:12px;
}

p.subtle{font-size:10px;color:#4d4d4d;margin-top:20px;}
p.subtle a{color:#4d4d4d;}
p.subtle a:hover{color:#bbb;}



/** screenshots */

    a.fancybox {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        margin-bottom: 8px;
        overflow: hidden;
        border: solid 5px #fff;
        border: solid 5px rgba(255, 255, 255, .70);
        box-shadow: rgba(0,0,0, 0.3) 0px 0px 5px;
        -moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 5px;
        -webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    a.fancybox img {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 100px;
    }
    #screenshots a.fancybox:hover {
        background: url('../images/zoom.png') no-repeat center center;
        width: 100px;
        height: 100px;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
