<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Saiku - Next Generation Open Source Analysis - {{ page.title }}</title>

        <!-- blueprint css -->
        <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
        <!--[if lt IE 8]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <!-- eof blueprint css -->
        <!-- sticky footer css -->
        <link rel="stylesheet" href="css/sticky-footer.css" type="text/css" media="screen, projection">
        <!-- eof sticky footer css -->
        <!-- saiku css -->
        <link rel="stylesheet" href="css/saiku.css" type="text/css" media="screen, projection">
        <!-- eof saiku css -->
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
            <!-- main -->
            <div id="main" class="container">
                <!-- header -->
                <div id="header" class="span-21">
                    <!-- logo -->
                    <div id="logo" class="span-10">
                        <h1>
                            <a href="http://www.analytical-labs.com/" title="Saiku - Next Generation Open Source Analytics">
                                <img src="images/logo_img.png" alt="Saiku - Next Generation Open Source Analytics"/>
                            </a>
                        </h1>
                    </div>
                    <!-- eof logo -->
                    <!-- contact -->
                    <div id="contact" class="span-11 last">
                        <ul>
                            <li><span>E:&nbsp;&nbsp;</span> <a href="mailto:contact@analytical-labs.com" title="Email Analytical Labs">contact@analytical-labs.com</a></li>
                            <!-- <li><span>P:</span> +44 203 239 0984 <img src="images/gb_flag_img.png" alt="United Kingdom" /></li> -->
                            <li><span>T: &nbsp;&nbsp;</span> <a href="http://www.twitter.com/SaikuAnalytics" title="Follow Analytical Labs">@SaikuAnalytics</a></li>
                            <li><span>ML:</span> <a href="https://groups.google.com/a/analytical-labs.com/group/saikudev/" title="Join the Saiku Developer Discussion Group">saikudev@googlegroups.com</a></li>
                        </ul>
                    </div>
                    <div align="right">
                        <a href="http://github.com/OSBI/saiku"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork Saiku on GitHub"></a>
                    </div>
                    <!-- eof contact -->
                </div>
                <!-- eof header -->
                <!-- navigation -->
                <div id="navigation" class="span-21">
                    <ul>
                        <li><a href="index.html" title="Home" class="selected">Home</a></li>
                        <li><a href="screenshots.html" title="Screenshots">Screenshots</a></li>
                        <li><a href="downloads.html" title="Downloads">Downloads</a></li>
                        <li><a href="https://github.com/OSBI/saiku/wiki/_pages" title="Documentation" rel="new">Documentation</a></li>
                        <li><a href="https://github.com/OSBI/saiku/issues" title="Issue Tracker" rel="new">Issue Tracker</a></li>
                        <li><a href="http://ask.analytical-labs.com">Forum</a></li>
                    </ul>
                </div>
                <!-- eof navigation -->
                {{ content }}
            </div>
            <!-- eof main -->
        </div>
        <!-- eof wrap -->
        <!-- footer -->
        <div id="footer">
            <!-- footer_wrap -->
            <div id="footer_wrap" class="container">
                <!-- copyright -->
                <div id="copyright" class="span-5">
                    <strong>Saiku &copy; 2011</strong>
                </div>
                <!-- eof copyright -->
                <!-- sitemap -->
                <div id="sitemap" class="span-19 last">
                    <ul>
                        <li><a href="mailto:contact@analytical-labs.com" title="Email Analytical Labs">contact@analytical-labs.com</a></li>
                        <li class="last_child"><a href="http://www.twitter.com/SaikuAnalytics" title="Follow Analytical Labs">@SaikuAnalytics</a></li>
                    </ul>
                </div>
                <!-- eof sitemap -->
            </div>
            <!-- eof footer_wrap -->
        </div>
        <!-- eof footer -->
            <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16172251-6']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>


    </body>
</html>